.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 2px;
    transition: all 200ms;
    color: transparent;
    cursor: default;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color: #000000, $alpha: .2);
    }
}

.heading-tertiary {
    font-size: $font-size-default;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $font-size-default;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}